<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits index page</title>
</head>
<body>
    <h1>hleooij</h1>
    <ul>
        <% fruits.forEach(fruit => { %>
            <li><%= fruit.name %></li>
        <%})%>
        <h2>SINGLE FRUIT NAME</h2>
    </ul>
</body>
</html>